html {
    height: 100%;
}

body {
    height: 100%;
    background-color:red; 
    
}
a {
    text-decoration: none;
}

.about-image{
    height:100px;
    width:100px;
}

.chris-brown {
    display:flex;
    justify-content:space-around;
    
}
.container {
    display:flex;
}
.menu{
    width:30%;
    
}
.main {
    width:70%;
}
.navbar {
    display:flex;
    justify-content:space-between;
}
.thumbnail img{
    height:100px;
    width:200px;
}
.gallery {
    display:flex;
    flex-wrap:wrap;
}
